mixin video(info)
    div
    h4
        a(href=`/video/${info.id}`)=info.title
    p=info.description 
    ul 
        each hastag in info.hashtags 
            li=hastag
    small=info.createdAt
    hr
