extends base.pug
include mixins/video

block title 
    title #{title} | Youtube


block header
    header 
        h1=title
    h2 Videos for You
        
    each item in videos 
        +video(item)
    else     
        li nothing found.
           
